@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Zapomniałeś hasła?";
}

<div class="logowanie">
    <h1>@ViewData["Title"]</h1>
    <h4 style="text-align: center;">Podaj swój email.</h4>

    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="txt_field">

            <input type="text" asp-for="Input.Email" class="" required />
            <span></span>
            <label>Email</label>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Wyślij</button>
    </form>
</div>
@*<hr />
<div class="row">
    <div class="col-md-4">
       
    </div>
</div>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
